{% extends 'food/base.html' %}

<!DOCTYPE html>
<head>

</head>
<body>
{% block body %}   

    {% for item in item_list %}
    <br>
    <div class ="row">
        <br>
        <div class = "offset-md-2" class="col md-4"   >
            <img class ="card" height="150px" width="200px" src="{{item.item_image}}"/>
        </div>

        <div class ="col md-4">
            <h1> {{item.item_name}}</h1>
            <h2> {{item.item_desc}}</h2>
            <h3> Rs.{{item.item_price}}</h3>
            <h3>{{item.user_name}}</h3>
        </div>

        <div class ="col md-2">
            <a href ="{% url 'food:detail' item.id  %}" class="btn btn-success">Details </a>
        </div>
   

    </div>
    {% endfor %}
{% endblock %}
</body>

